{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
    <main class="main pages">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                    <span></span> Pages <span></span> Terms of Service
                </div>
            </div>
        </div>
        <div class="page-content pt-50">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 col-lg-12 m-auto">
                        <div class="row">
                            <div class="col-lg-9">
                                <div class="single-page pr-30 mb-lg-0 mb-sm-5">
                                    <div class="single-header style-2">
                                        <h2>Terms of Service</h2>
                                        <div class="entry-meta meta-1 meta-3 font-xs mt-15 mb-15">
                                            <span class="post-by">By <a href="#">Jonh</a></span>
                                            <span class="post-on has-dot">9 April 2020</span>
                                            <span class="time-reading has-dot">8 mins read</span>
                                            <span class="hit-count has-dot">29k Views</span>
                                        </div>
                                    </div>
                                    <div class="single-content mb-50">
                                        <p>Please read these Terms of Service (“Terms”, “Terms of Service”) carefully before using the https://Evara.com website (the “Service”) operated by Evara (“us”, “we”, or “our”).</p>
                                        <p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.</p>
                                        <p>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.</p>
                                        <h4>Rights & restrictions</h4>
                                        <ol>
                                            <li>Members must be at least 18 years of age.</li>
                                            <li>Members are granted a time-limited, non-exclusive, revocable, nontransferable, and non-sublicensable right to access that portion of the online course corresponding to the purchase.</li>
                                            <li>The portion of the online course corresponding to the purchase will be available to the Member as long as the course is maintained by the Company, which will be a minimum of one year after Member’s purchase.</li>
                                            <li>The videos in the course are provided as a video stream and are not downloadable.</li>
                                            <li>By agreeing to grant such access, the Company does not obligate itself to maintain the course, or to maintain it in its present form.</li>
                                        </ol>
                                        <h4>Links To Other Web Sites</h4>
                                        <p>Our Service may contain links to third-party web sites or services that are not owned or controlled by Evara.</p>
                                        <p>Evara has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Evara shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.</p>
                                        <p>We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.</p>
                                        <h4>Termination</h4>
                                        <p>We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>
                                        <p>All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>
                                        <h4>Governing Law</h4>
                                        <p>These Terms shall be governed and construed in accordance with the laws of Viet Nam, without regard to its conflict of law provisions.</p>
                                        <p>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.</p>
                                        <h4>Changes</h4>
                                        <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>
                                        <p>By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.</p>
                                        <h4>Contact Us</h4>
                                        <p>If you have any questions about these Terms, please <a href="page-contact.html">contact us</a>.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 primary-sidebar sticky-sidebar">
                                <div class="widget-area">
                                    <div class="sidebar-widget-2 widget_search mb-50">
                                        <div class="search-form">
                                            <form action="#">
                                                <input type="text" placeholder="Search…" />
                                                <button type="submit"><i class="fi-rs-search"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="sidebar-widget widget-category-2 mb-30">
                                        <h5 class="section-title style-1 mb-30">Category</h5>
                                        <ul>
                                            <li>
                                                <a href="shop-grid-right.html"> <img src="{% static 'assets/imgs/theme/icons/category-1.svg' %}" alt="" />Milks & Dairies</a><span class="count">30</span>
                                            </li>
                                            <li>
                                                <a href="shop-grid-right.html"> <img src="{% static 'assets/imgs/theme/icons/category-2.svg' %}" alt="" />Clothing</a><span class="count">35</span>
                                            </li>
                                            <li>
                                                <a href="shop-grid-right.html"> <img src="{% static 'assets/imgs/theme/icons/category-3.svg' %}" alt="" />Pet Foods </a><span class="count">42</span>
                                            </li>
                                            <li>
                                                <a href="shop-grid-right.html"> <img src="{% static 'assets/imgs/theme/icons/category-4.svg' %}" alt="" />Baking material</a><span class="count">68</span>
                                            </li>
                                            <li>
                                                <a href="shop-grid-right.html"> <img src="{% static 'assets/imgs/theme/icons/category-5.svg' %}" alt="" />Fresh Fruit</a><span class="count">87</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Product sidebar Widget -->
                                    <div class="sidebar-widget product-sidebar mb-30 p-30 bg-grey border-radius-10">
                                        <h5 class="section-title style-1 mb-30">Trending Now</h5>
                                        <div class="single-post clearfix">
                                            <div class="image">
                                                <img src="{% static 'assets/imgs/shop/thumbnail-3.jpg' %}" alt="#" />
                                            </div>
                                            <div class="content pt-10">
                                                <h5><a href="shop-product-detail.html">Chen Cardigan</a></h5>
                                                <p class="price mb-0 mt-5">$99.50</p>
                                                <div class="product-rate">
                                                    <div class="product-rating" style="width: 90%"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-post clearfix">
                                            <div class="image">
                                                <img src="{% static 'assets/imgs/shop/thumbnail-4.jpg' %}" alt="#" />
                                            </div>
                                            <div class="content pt-10">
                                                <h6><a href="shop-product-detail.html">Chen Sweater</a></h6>
                                                <p class="price mb-0 mt-5">$89.50</p>
                                                <div class="product-rate">
                                                    <div class="product-rating" style="width: 80%"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-post clearfix">
                                            <div class="image">
                                                <img src="{% static 'assets/imgs/shop/thumbnail-5.jpg' %}" alt="#" />
                                            </div>
                                            <div class="content pt-10">
                                                <h6><a href="shop-product-detail.html">Colorful Jacket</a></h6>
                                                <p class="price mb-0 mt-5">$25</p>
                                                <div class="product-rate">
                                                    <div class="product-rating" style="width: 60%"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-post clearfix">
                                            <div class="image">
                                                <img src="{% static 'assets/imgs/shop/thumbnail-6.jpg' %}" alt="#" />
                                            </div>
                                            <div class="content pt-10">
                                                <h6><a href="shop-product-detail.html">Lorem, ipsum</a></h6>
                                                <p class="price mb-0 mt-5">$25</p>
                                                <div class="product-rate">
                                                    <div class="product-rating" style="width: 60%"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="banner-img wow fadeIn mb-40 animated d-lg-block d-none">
                                        <img src="{% static 'assets/imgs/banner/banner-11.png' %}" alt="" />
                                        <div class="banner-text">
                                            <span>Oganic</span>
                                            <h4>
                                                Save 17% <br />
                                                on <span class="text-brand">Oganic</span><br />
                                                Juice
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
